/app/build/
/dataLayer/build/
/featurePokemon/build/
/featureSuperHero/build/
/sharedComposables/build/
/.gradle/
../.idea/
/.idea/
*.iml
.gradle
.idea/
.idea/deploymentTargetDropDown.xml
/.idea
/.idea/caches
/.idea/misc.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
build/
/build/
/captures
.externalNativeBuild
.cxx
local.properties
